<div class="d-flex justify-content-center align-items-center gap-2">
    <button class="btn btn-outline-secondary btn-sm" 
    (click)="downQuantity()">−</button>

    <input type="number" 
    [(ngModel)]="quantity"  
    (ngModelChange)="quantity = $event; validateQuantity()"
    min="0" 
    [max]="max" 
    class="form-control text-center" 
    style="width: 50px;"  
    (blur)="validateQuantity()">
              
    <button class="btn btn-outline-secondary btn-sm" 
    (click)="upQuantity()">+</button>

</div>

